body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://unsplash.com/photos/ReL4fy3Wg1U/download?force=true");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  background-color: rgba(0,0,0,0.55);
  top: 40%;
  left: 25%;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #000;
  padding: 18px;
}

.caption span.header {
  color: #fff;
  font-size: 55px;
  letter-spacing: 9px;
}

.role {
  color: #fff;
  font-size: 30px;
  letter-spacing: 9px;
  padding-top: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


.ul-navbar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  width: 50%;
}


.li-navbar {
/*  display: block;*/
  float: center;

  text-align: center;
  font-size: 20px;
  padding: 26px 20px;
  /*text-decoration: none;*/
}

.a-navbar {
  color: #777;
  text-align: center;
  margin: auto;
  padding: 20px 16px;
 /* text-decoration: none;*/
}


.li-navbar :hover {
  color: #333;
}


.a-navbar :hover {
  color: #333;
}

.centered {
  text-align: center;
  margin: auto;
}